#container {

  #alternative-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    #separator {
      padding: 1rem;
    }
  }

}

.action-card-btn {
  $card-height: 15rem;
  $width-height-ratio: 0.75;
  $card-width: $card-height * $width-height-ratio;

  // &:hover {
  //   $scale: 0.05;
  //   transform: translate(0,-$card-height*$scale);
  // }

  .action-card {
    width: $card-width;
    height: $card-height;

    background-color: white;
    border-radius: 2.5%;
    padding: 5px;

    cursor: pointer;

    .action-name {
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .action-effects-container {

      .effect-list{
        padding: 5px;
        width: 50%;

        .value-text-header {
          margin-bottom: 1rem;
        }
      }

      .effect-list + .effect-list {
        border-left: 1px dashed black;
      }
    }
  }
}



