#container {

  #alternative-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    #separator {
      padding: 1rem;
    }
  }

}

.action-card {
  $card-height: 10rem;
  $width-height-ratio: 0.75;

  width: $card-height * $width-height-ratio;
  height: $card-height;

  background-color: white;
  border-radius: 2.5%;
  padding: 5px;

  cursor: pointer;

  .action-name {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .action-effects-container {

    .effect-list{
      padding: 5px;
      width: 50%;

      .value-text-header {
        margin-bottom: 1rem;
      }
    }

    .effect-list + .effect-list {
      border-left: 1px dashed black;
    }
  }
}

