#container {

  #alternative-wrapper {
    display: flex;
    justify-content: center;

    #separator {
      padding: 1rem;
      display: flex;
      align-items: center;
    }
  }

}

.action-card-btn {
  $card-height: 'fit-content';
  $width-height-ratio: 0.75;
  // $card-width: $card-height * $width-height-ratio;

  // &:hover {
  //   $scale: 0.05;
  //   transform: translate(0,-$card-height*$scale);
  // }

  .action-card {
    width: 15rem;
    height: 100%;

    background-color: white;
    border-radius: 2.5%;
    padding: 5px;

    cursor: pointer;

    .action-name {
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .action-values {

      .value-description{
        padding: 5px;

        .value-effect-title {
          margin-bottom: 5px;
        }
      }

      .effect-list + .effect-list {
        border-left: 1px dashed black;
      }
    }
  }
}

.reaction-memory-tooltip {
  .tooltip-inner {
    background: white;
    border: black;
    font-family: "Noto-Serif", serif;
  }
}



