#ui-wrapper {
  display: flex;

  .grid-spacer {
    flex-grow: 1;
  }

  #timeline-wrapper {
    $total-vert-padding: 20%;
    $top-padding: 5%;
    position: fixed;
    top: $top-padding;
    bottom: $total-vert-padding - $top-padding;
  }
}
