#container {
  display: flex;
  flex-direction: column;
  width: 33rem;
  margin: auto;

  hr {
    width: 100%;
    border: none;
    border-top: 1px solid black;
  }

  #action-selection-wrapper {
    display: flex;
    justify-content: center;
  }
}
