.affinity-description {
  line-height: 1.5rem;

  .character-name {
    font-weight: bold;
  }

  .affinity-string {
    &.negative {
      color: #ff5628;
      font-weight: bold;
    }

    &.positive {
      color: #5c4aee;
      font-weight: bold;
    }
  }
}
