/* You can add global styles to this file, and also import other style files */
@use './styles/index.scss';

@font-face {
  font-family: 'Noto-Serif';
  src: url("./assets/fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Noto-Serif';
  src: url("./assets/fonts/Noto_Serif/NotoSerif-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'Noto-Serif';
  src: url("./assets/fonts/Noto_Serif/NotoSerif-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: 'Noto-Serif';
  src: url("./assets/fonts/Noto_Serif/NotoSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic
}


html {
  scroll-behavior: smooth;
  background-color: #fffefc;
  color: #37352f;
  font-family: "Noto-Serif", serif;
}

button {
  background-color: white;
  cursor: pointer;
  border: 1px solid index.$text-color;
  border-radius: 5px;
  font: inherit;
}

.character-name {
  font-weight: bold;
}

.affinity-string {
  &.negative {
    color: index.$negative-color;
  }

  &.positive {
    color: index.$positive-color;
  }
}

.action-description {
  font-style: italic;
}
